.el-button {
  text-transform: capitalize;
}

.txt {
  text-transform: initial;

  &-upper {
    text-transform: uppercase;
  }

  &-low {
    text-transform: lowercase;
  }

  &-cap {
    text-transform: capitalize;
  }

  &-none {
    text-transform: none;
  }
}

.word {
  word-break: break-word;
}

input {
  &::placeholder {
    text-transform: capitalize;
  }
}

.el-select-v2 {
  &__placeholder {
    left: -70px;

    &.is-transparent {
      left: -35px;
    }
  }

  width: 100%;
}

.el-select-group__title {
  text-transform: uppercase;
}
